* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Hero {
    width: 100%;
    min-height: 100vh;
    background-color: black;
}

.Hero-grid {
    width: 90%;
    min-height: 80vh;
    /* background-color: orange; */
    margin: 6.25rem;
    position: absolute;
    align-content: center;
}

.Hero-grid-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.Hero-column--left {
    grid-column: 1;
}


.Hero-grid-img {
    width: 170%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}


.Hero-column--right {
    grid-column: 2;
    z-index: 1;
    /* background: linear-gradient(to left) black; */
    background-color: black;
    align-content: center;
}

.Hero-column-info {
    display: flex;
    flex-flow: column nowrap;
    gap: 2.5rem;
    color: white;
    margin-left: 1.875rem;
}

.Hero-grid-h1 {
    font-size: 2.8125rem;
}

.Hero-column-p {
    font-size: 1.125rem;
}

.Hero-button--login {
    background-color: rgba(255, 255, 255, 0.924);
}


.Hero-button--sub {
    background-color: rgba(255, 255, 255, 0.924);
}

.Hero-button--login:hover,
.Hero-button--sub:hover {
    transform: scale(1.1);
    transition: scale .5s ease;
    cursor: pointer;
}

.Hero-button {
    width: 23.75rem;
    min-height: 3.75rem;
    border-radius: .625rem;
    font-size: 1.0625rem;
}


.Hero-price-span {
    font-size: .875rem;
}

.Hero-student-link {
    color: white;
    text-decoration: underline;
}


/* HERO MINI GRID */
.Heromini-grid {
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    gap: 2.5rem;

}

.Heromini-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Heromini-column--left {
    color: white;
    display: flex;
    flex-flow: column nowrap;
    gap: 2.5rem;
    padding: 3.125rem;

}

.Heromini-h2 {
    font-size: 3.125rem;
}

.Heromini-p {
    font-size: 1.25rem;
}

.Mini-grid-button {
    width: 30rem;

    min-height: 3.75rem;
    border-radius: .625rem;
    border: transparent;
    font-size: 1.125rem;
    cursor: pointer;
    background-color: white;
    cursor: pointer;
}



.Mini-grid-button:hover {

    transform: scale(1.1);
    transition: scale .5s ease;
}

.Heromini-column--right {
    display: grid;
}

.Heromini-grid-images {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .625rem;

}

.Heromini-img {
    width: 90%;
    border-radius: .625rem;

}

.Heromini-img-single {
    width: 100%;

}

/* HERO BENEFITS */

.Herobenefits {
    background-color: black;
    width: 100%;
    min-height: 60vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
}

.Herobenefits-container {
    /* background-color: red; */
    width: 80%;
    margin: auto;

}

.Herobenefits-info {
    display: flex;
    flex-flow: column nowrap;
    color: white;
    gap: 2.5rem;
    align-items: center;

}

.Herobenefits-h3 {
    font-size: 1.875rem;
}

.Herobenefits-img {
    width: 70%;
}

/* 
Here begin the Cookies section. */

.Cookies-container {
    width: 98%;
    min-height: 20vh;
    background-color: #0f1111;
    position: fixed;
    left: 1%;
    bottom: 2%;
    z-index: 1;
    border-width: .0625rem;
    border-color: white;
    border-style: solid;
    border-radius: .625rem;

}

.Cookies-container.isClose {
    display: none;
}

.Cookies-text {
    color: rgb(179, 179, 179);
    display: flex;
    flex-flow: column nowrap;
    gap: 1.25rem;
    padding: 1.25rem;
    align-items: start;
}

.Cookies-description {
    display: flex;
    flex-flow: column nowrap;
    gap: .625rem;
}

.Cookies-h2 {
    color: white;
}

.Cookies-a {
    color: rgb(190, 185, 185);
}

.Cookies-links {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    text-decoration: underline;
    color: white;

    font-size: 1.25rem;
    cursor: pointer;
}