/* Aquí comienza la página de la contraseña */

.Login-page-password {
    background-color: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Login-password-h1{
    font-size: 1.5625rem;
    font-weight: 100;
}

.Login-block {
    /* background-color: red; */
    width: 25rem;
    min-height: 18.75rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    gap: 1.25rem;
    position: relative;
    margin-bottom: 20px

}

.Login-form{
   
    border: .125rem solid #e4e7e7;
    border-radius: .625rem;
    width: 20rem;
    padding: 1.25rem;
    display: flex;
    flex-flow: column nowrap;
    gap: .9375rem;
    margin-bottom: 3.75rem;

}

.Login-page-password::after{
  content: '';
  width: 90%;
  min-height: .125rem;
  background-color: lightgray;
  position: absolute;
  top: 75%;

}


.Login-password {
    width: 100%;
    border: .0625rem solid gray;
    min-height: 1.75rem;
    border-radius: 8px;

}

.Login-button {
    border-radius: 1.25rem;
    border: none;
    min-height: 1.75rem;
    background-color: #ffd814;
}


.Login-check {
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.Login-checkbox{
    display: flex;
    align-items: center;
    gap: .9375rem;
}

.Login-label {
    font-size: .875rem;
    font-weight: 100;
}


.Login-help {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}


.Login-span--row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}

.Login-chance-email {
    display: flex;
    gap: .3125rem;
    align-items: center;
    justify-content: start;
}

.Login-email-choice {
    font-size: .875rem;
}


.Login-email-change {
    font-size: .875rem;
    color: #2162a1;
    text-decoration: none;
} 

.Login-span--word {
    font-size: .875rem;
}

.Login-pass-a {
    color: #2162a1;
    font-weight: 100;
}

.Login-new-account-button {
    width: 100%;
}

.Login-remember-checkbox.Open {
    position: absolute;
    top: 32%;
    right: 0%;
    background-color: white;
    border: .0625rem solid lightgrey;
    border-radius: .625rem;
    width: 25rem;
    padding: 1.25rem;
    display: flex;
    flex-flow: column nowrap;
    gap: .625rem;
}

.Login-remember-checkbox {
    display: none;
}

.Login-arrow--up {
    display: none;
}

.Login-arrow--up.Open {
    display: block;
}

.Login-arrow--down {
    display: block;
}

.Login-arrow--down.Close {
    display: none;
}


.Login-remember-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.Login-remember-h3 {
    font-size: .875rem;
}

.Login-remember-p {
    font-size: .9375rem;
}



.Login-footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: .625rem;
}

.Login-terms {
    display: flex;
    font-size: .75rem;
    gap: 2.5rem;
    color: #0a7cd1;
}

.Login-terms-a {
    font-size: .75rem;
    color: #0a7cd1;
}

.Login-terms-a:hover {
    color: black;
    text-decoration: underline;
}

.Login-footer-span {
    font-size: .75rem;
    color: rgb(102, 95, 95);
}