.Search-results-container {
    margin-top: 5.625rem;
    background-color: rgba(25,30,37,.8);
}

.Search-bar-results {
    display: flex;
    flex-flow: column nowrap;
    gap: .4375rem;
    color: white;
    font-size: 1.0625rem;
    text-decoration: none;
}

.Movie-result{
    width: 15.625rem;
    border-radius: .625rem;
}

.Search-bar-results-time{
    font-size: .875rem;
  color: rgb(217, 204, 204);
}