*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Header{
    position: fixed;
    top: 0;
    left: 5%;
    width: 95%;
    min-height: 8vh;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3), 0 8px 12px 6px rgba(0, 0, 0, .15);
    color: white;
    z-index: 2;
   

   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
}

.Header-a{
    width: fit-content;
    min-height: fit-content;
    border-radius: .625rem;
    color: white;
    text-decoration: none;
        background: radial-gradient(50% 50% at 50% 0, rgba(var(--action-background-color), .8) 0, transparent 100%), hsla(0, 0%, 100%, .2);
        background-origin: border-box;
        border-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 10%, hsla(0, 0%, 100%, .3) 50%, hsla(0, 0%, 100%, 0) 90%) 1 / 2px;
        border-image-width: 2px 0 0 0;
        box-shadow: 0 -4px 16px 0 rgba(var(--action-background-color), .2);
}

.Header-left{
    display: flex;
    flex-flow: row nowrap;
    gap: .625rem;
    margin-left: 1.25rem;
}

.Header-ul{
    display: flex;
    flex-flow: row nowrap;
    gap: .625rem;

}

.Header-subs-icon{
    width: 17%;
}

.Header-li:nth-child(6){
    display: flex;
    flex-flow: row nowrap;
    gap: .3125rem;
}

.Header-li:nth-child(7){
    display: flex;
    flex-flow: row nowrap;
    gap: .3125rem;
}


.Header-icons{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .625rem;
    margin-right: 2.5rem;
  
}

.Header-a-subscription{
    width: 9.375rem;
    padding: .625rem;
    background-color: #2162a1;
    border-radius: .625rem;
    color: white;
    text-decoration: none;
    
}

.Header-icon:hover{
    background-color: white;
    border-radius: 1.875rem;
    color: black;
    fill: black;
}

.Header-icon-logo{
    width: 10%;
}


.Header-login-icon{
    width: 26%;
    
}

