* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    /* font-family: 'Amazon Ember', 'Amazon Arabic Ember', Arial, sans-serif !important; buscar */
}

.Search-bar-container{
    position: fixed;
    top: 10%;
    left: 15%;
    z-index: 1;
    background-color: rgba(25,30,37,.8);
    width: 70%;
    min-height: 9.375rem;
    border-radius: .75rem;
    padding: 1rem;
    /* -webkit-backdrop-filter: blur(16px); */
    align-content: center;
   
}

.Search-bar-wrapper{
    
    display: flex;
    align-items: center;
    
}


.Search-icon {
    position: absolute;
    left: 3%;
    z-index: 2;
    width: 1.5rem;
    height: 1.5rem;
}


#Search-bar{
    position: absolute;
    background-color: #33373d;
    color: white;
    width: 95%;
    min-height: 4.375rem;
    padding-left: 3.125rem;
}

#Search-bar:focus{
border: white solid;
outline: none;
}

.Search-reset-button{
position: absolute;
width: 5rem;
min-height: 2.5rem;
padding: .5rem;
border-radius: .625rem;
background-color: transparent;
color: white;
right: 5%;
}


.Search-reset-button:hover{
position: absolute;
width: 5rem;
min-height: 2.5rem;
padding: .5rem;
border-radius: .625rem;
background-color: white;
color: black;
right: 5%;

}




.Intro-carousel {

    width: 100%;
    min-height: 80vh;
    background-color: red;
    position: relative;
    display: grid;
    overflow: hidden;

}

.Intro-carousel-wrapper{
    width: 1300%;
    height: 80vh;
    display: grid;
   
    
    transition: transform 0.5s ease;
}


.Intro-carousel-img{
    width: 100%;
    height: 74%;
    object-fit: cover;
    /* background-color: orange; */

   
}

.Intro-buttons {
    position: absolute;
    top: 20%;
    left: 5%;
    display: flex;
    gap: 1.25rem;
}

.Intro-carousel-info {
    display: none;
}

.Intro-carousel-info.isActive {
    width: 6.25rem;
    color: white;
    position: absolute;
    top: 18%;
    left: 2%;
    display: block;


    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    gap: 1.25rem;
}

.Intro-carousel-span {
    display: flex;
    gap: .625rem;
}

.Intro-carousel-span-text {
    font-size: .9375rem;
    color: #37f1a3;
}

.Intro-buttons {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: .9375rem;
    margin: 110px auto;
}

.Button-next {
    background-color: transparent;
    border: none;
}

.Button-prev {
    background-color: transparent;
    border: none;
}

.Intro-description {
    display: none;
}

.Intro-description.isActive {
    display: block;
}

.Intro-platform-logo {
    width: 60%;
}

.Intro-film-logo {
    width: 500px;
}

.Intro-carousel-buttons {
    display: flex;
    flex-flow: row nowrap;
    gap: .625rem;
}

.Intro-button--add {
    border-radius: 1.25rem;
}

.Intro-a-info {
    background-color: rgb(137, 135, 135);
    border-radius: 1.25rem;
    width: 1.875rem;
    color: white;
}


/* El carousel Hero empieza aqui 

    .Hero-carousel{
        width: 90%;
        min-height: 20vh;
        background-color: #f13772;
        margin-top: 1.875rem;
    }

    .Hero-carousel-h3{
        /* background-color: red; */
/* text-align: start;
        margin-left: .625rem;
        color: white;
    }

    .Hero-carousel-wrapper{
        width: 400%;
        min-height: 20vh;
        background-color: orange;

        display: grid;
        grid-template-columns: repeat( 8 , 1fr );
    }

    .Hero-film-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: #37f1a3;
    } */

