* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Hero-carousel {
    width: 90%;
    min-height: 20vh;
    /* background-color: #f13772; */
    margin: auto;
    overflow: hidden;
    position: relative;
}

.Hero-carousel-h3 {

    text-align: start;
    margin-left: .625rem;
    color: white;
    margin-bottom: .9375rem;
}

.Hero-carousel-wrapper {
    display: flex;
    gap: 1rem;
    transition: transform .45s ease;
    will-change: transform;
}

.Hero-film-img {
    width: 258px;
    height: 145px;
    object-fit: cover;
    display: block;
    border-radius: .625rem;
}


.Hero-img-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 0 258px;
    width: 258px;
    max-width: 258px;
    gap: .3125rem;
    transition: transform .35s ease;
    transform-origin: center;
}

.Hero-img-wrapper.active {
    transform: scale(1.15);
    z-index: 10;
}

img {
    color: white;
}

.Hero-film-info {

    color: white;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity .25s ease,
        transform .25s ease;
}

.Hero-film-info.Show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}



.Hero-film-platform {
    align-items: center;
    display: flex;
    gap: 2px;
}


.Hero-button--next {
    position: absolute;
    top: 0;
    width: 4.375rem;
    height: 18.75rem;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3), 0 8px 12px 6px rgba(0, 0, 15)
}

.Hero-button--prev {
    position: absolute;
    top: 0;
    right: 0;
    width: 4.375rem;
    height: 18.75rem;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3), 0 8px 12px 6px rgba(0, 0, 15)
}