*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input{
    color:  black;
    background-color: white;
}

.Put-input-title{
    background-color: yellow;
    color: black;
}

textarea{
    width: 100%;
    height: 10rem;
    border-radius: .625rem;
    border-color: white;
    border-width: .0313rem;
    background-color: black;
    color:  #ffd814;
    padding: .75rem;
}

.Put-img-wrapper {
    width: 43.75rem;
    margin: 2.5rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.Put-film-img {
    width: 100%;
    border-radius: .625rem;
}

.Put-film-info {
    
    color: white;
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.25rem;
}

.Put-film-platform {
    align-items: center;
    display: flex;
    gap: .125rem;
}

.Put-button{
    width: 100%;
    padding: .625rem;
    border-radius: .625rem;
    background-color:  #ffd814;
}
