* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    /* font-family: 'Amazon Ember', 'Amazon Arabic Ember', Arial, sans-serif !important; buscar */
}

.Intro-slide {
    position: relative;
}


.Intro-carousel {

    width: 100%;
    min-height: 80vh;
    background-color: red;
    position: relative;
    display: grid;
    overflow: hidden;

}

.Intro-carousel-wrapper {
    width: 1300%;
    height: 80vh;
    display: grid;


    transition: transform 0.5s ease;
}


.Intro-carousel-img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    display: block;
}


.Intro-carousel-info {
    width: 37.5rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 9%;
    display: block;


    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
}



.Intro-film-text {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.25rem;

}

.Intro-prime-logo{
    width: 5rem;
}

.Intro-film-logo {
    width: 25rem;
}

.Intro-film-logo:nth-child(1) {
    width: 15.625rem;
}


.Info-film-description{
    display: none;
}

.Info-film-description.Active{
    font-size: 1.25rem;
    display: block;
}


.Intro-film-span{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .625rem;
}

.Button--next {
    position: absolute;
    top: 50%;
    left: -40%;
    background-color: transparent;
    border: none;
}

.Button--prev {
    position: absolute;
    top: 50%;
    right: -40%;
    background-color: transparent;
    border: none;
}