* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    /* font-family: 'Amazon Ember', 'Amazon Arabic Ember', Arial, sans-serif !important; buscar */
}


.Intro-carousel {

    width: 100%;
    min-height: 80vh;
    background-color: red;
    position: relative;
    display: grid;
    overflow: hidden;

}

.Intro-carousel-wrapper{
    width: 1300%;
    height: 80vh;
    display: grid;
   
    
    transition: transform 0.5s ease;
}


.Intro-carousel-img{
    width: 100%;
    height: fit-content;
    object-fit: cover;
   
    /* background-color: orange; */
 

   
}

.Intro-buttons {
    position: absolute;
    top: 20%;
    left: 5%;
    display: flex;
    gap: 1.25rem;
}

.Intro-carousel-info {
    display: none;
}

.Intro-carousel-info.isActive {
    width: 6.25rem;
    color: white;
    position: absolute;
    top: 18%;
    left: 2%;
    display: block;


    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    gap: 1.25rem;
}

.Intro-carousel-span {
    display: flex;
    gap: .625rem;
}

.Intro-carousel-span-text {
    font-size: .9375rem;
    color: #37f1a3;
}

.Intro-buttons {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: .9375rem;
    margin: 110px auto;
}

.Button-next {
    background-color: transparent;
    border: none;
}

.Button-prev {
    background-color: transparent;
    border: none;
}

.Intro-description {
    display: none;
}

.Intro-description.isActive {
    display: block;
   
}

/*.Intro-platform-logo {
    width: 60%;
}

.Intro-film-logo {
    width: 500px;
}

.Intro-carousel-buttons {
    display: flex;
    flex-flow: row nowrap;
    gap: .625rem;
}

.Intro-button--add {
    border-radius: 1.25rem;
}

.Intro-a-info {
    background-color: rgb(137, 135, 135);
    border-radius: 1.25rem;
    width: 1.875rem;
    color: white;
}*/
